// bower:js
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/angular/angular.js')
script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
// endbower
script(src='/scripts/script.js')
script(src='/scripts/directives/toastr/toastr.js')
