// bower:js
script(src='/public/bower_components/jquery/dist/jquery.js')
script(src='/public/bower_components/angular/angular.js')
script(src='/public/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
script(src='/public/bower_components/angular-cookies/angular-cookies.js')
// endbower
script(src='/public/scripts/script.js')
script(src='/public/scripts/indexCtrl.js')
script(src='/public/scripts/loginCtrl.js')
script(src='/public/scripts/signupCtrl.js')
script(src='/public/scripts/directives/toastr/toastr.js')
