<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Simple Form Submit</title>

  <script src="lib/angularjs/angular.js" type="text/javascript" charset="utf-8"></script>
  <script src="lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css" />

  <!-- app scripts -->
  <script src="script.js" type="text/javascript" charset="utf-8"></script>
  <script src="app/toastr/toastr.js" type="text/javascript" charset="utf-8"></script>

  <style type="text/css" media="all">
.loading {
  background-color: black;
}
  </style>
  
</head>
<body ng-app="submitApp">
<div class="container" ng-controller="IndexCtrl">
  <h3>Simple Form Submit</h3>
  <div class="loading">
    <img src="app/images/loading/loading-balls.svg" alt="Loading icon" />
    <img src="app/images/loading/loading-bars.svg" alt="Loading icon" />
    <img src="app/images/loading/loading-bubbles.svg" alt="Loading icon" />
    <img src="app/images/loading/loading-cubes.svg" alt="Loading icon" />
    <img src="app/images/loading/loading-cylon.svg" alt="Loading icon" />
    <img src="app/images/loading/loading-spin.svg" alt="Loading icon" />
    <img src="app/images/loading/loading-spinning-bubbles.svg" alt="Loading icon" />
    <img src="app/images/loading/loading-spokes.svg" alt="Loading icon" />
  </div>
  <ul>
    <li ng-repeat="user in users">
      <p>{{user.email}} {{user.password}}</p>
    </li>
  </ul>
<form role="form" ng-submit="submit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button class="btn btn-default btn-submit" data-loading-text="Saving..." >Submit</button>
  <toastr></toastr>
</form> 
</div>
</body>
</html>
